<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>سامانه ثبت داده ها</title>
    <link rel='stylesheet' th:href="'css/font-awesome.min.css?' + ${version}"/>
    <link rel='stylesheet' th:href="'css/bootstrap.min.css?' + ${version}"/>
    <link rel='stylesheet' th:href="'css/bootstrap-rtl.min.css?' + ${version}"/>

    <script th:src="'js/jquery.min.js?' + ${version}" type="text/javascript"></script>
    <script th:src="'js/bootstrap.min.js?' + ${version}" type="text/javascript"></script>
    <script th:src="'js/handlebars.min.js?' + ${version}" type="text/javascript"></script>
    <script th:src="'js/velocity.min.js?' + ${version}" type="text/javascript"></script>
    <script th:src="'js/velocity.ui.min.js?' + ${version}" type="text/javascript"></script>
    <script th:src="'js/string-format.min.js?' + ${version}" type="text/javascript"></script>
</head>
<body>

<input type="hidden" id="inputVersion" th:value="${version}"/>
</body>
</html>
