<div xmlns:th="http://www.thymeleaf.org" id="divAdminUsers" class="animated fadeIn">

    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="center-block hand">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span>کاربر جدید</span>
                    </a></li>
                    <li data-bind="css:{'disable-li':disableInactiveButtons}">
                        <a class="center-block" data-bind="css:{'disable-a':disableInactiveButtons,hand:!disableInactiveButtons()}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span>ویرایش</span>
                    </a></li>
                    <li data-bind="css:{'disable-li':disableInactiveButtons}">
                        <a class="center-block" data-bind="css:{'disable-a':disableInactiveButtons,hand:!disableInactiveButtons()}">
                        <span><i class="fa fa-user-times" aria-hidden="true"></i></span>
                        <span>حذف</span>
                    </a></li>

                    <li data-bind="css:{'disable-li':disableInactiveButtons}">
                        <a class="center-block" data-bind="css:{'disable-a':disableInactiveButtons,hand:!disableInactiveButtons()}">
                        <span><i class="fa fa-shield" aria-hidden="true"></i></span>
                        <span>تغییر کلمه عبور</span>
                    </a></li>

                    <li data-bind="css:{'disable-li':disableInactiveButtons}">
                        <a class="center-block" data-bind="css:{'disable-a':disableInactiveButtons,hand:!disableInactiveButtons()}">
                        <span><i class="fa fa-key" aria-hidden="true"></i></span>
                        <span>دسترسی ها</span>
                    </a></li>

                    <li><a class="center-block" data-bind="visible: showNavbarLoading">
                        <span><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                    </a></li>
                </ul>
            </div>
        </nav>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>نام کاربری</th>
        </tr>
        </thead>
        <tbody data-bind="foreach:users">
        <tr data-bind="css : {warning : isSelected}">
            <td data-bind="text: firstName"></td>
            <td data-bind="text: lastName"></td>
            <td data-bind="text: userName"></td>
        </tr>
        </tbody>
    </table>

</div>