<div class="list-group" id="divSidebarAdmin">
    <a href="admin/users" class="list-group-item" id="aUserAdmin">کاربران</a>
    <a href="admin/forms" class="list-group-item" id="aFormAdmin">فرم ها</a>
    <a href="admin/machinery" class="list-group-item" id="aMachineryAdmin">ماشین آلات</a>
</div>